<!DOCTYPE html>
<html ng-app='TaskApp'>
<head>
	<title>Task</title>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/font-awesome-4.7.0/font-awesome-4.7.0/css/							font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    </script>
		<script type="text/javascript" src="js/taskcontroller.js"></script>
		<script type="text/javascript" src='js/taskservice.js'></script>
		<script type="text/javascript" src='js/taskdirective.js'></script>
		<script type="text/javascript" src='js/taskfactory.js'></script>
		<style type="text/css">
			@import url("css/custom.css");
		</style>
</head>
<body ng-controller='taskCtrl'>
	<div class="container-fluid" >
	<form class="row" name='userform' novalidate ng-class="{'error':isChecked}">
		<div class="row">
			<div class="col-sm-12 col-md-12" id='tableheadingdiv'>
				<span class="col-md-2 col-sm-2"></span>
				<span class="col-md-2 col-sm-2"><strong>Frequency Type</strong></span>
				<span class="col-md-2 col-sm-2"><strong>Start Date</strong></span>
				<span class="col-md-2 col-sm-2"><strong>End Date</strong></span>
				<span class="col-md-2 col-sm-2"><strong>Total Cash With Tax</strong></span>
				<span class="col-md-2 col-sm-2"><strong>Actions</strong></span>
			</div>
			<div class="row" ng-repeat='x in Details'>
				<div class="col-md-12 col-sm-12" id='firsttable' >
					<span class="col-md-2 col-sm-2">
						{{x.paymentinfo}}
					</span>
					<span class="col-md-8 col-sm-8"></span>
					<button ng-click='showingtable()' id='angledownbutton'><span class="col-md-2 col-sm-2" id='angledownicon'><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
				</div>

			
			 	 <div>{{x.details}}</div>
					<div class="table-responsive" ng-show="showtable1">  
				
				 	<!-- <div>{{x.details}}</div>  -->
 		  			<table class="table">
			    		<tbody>
							<tr ng-repeat='y in x.details'>
								<td class="col-md-2 col-sm-2"><span id='hourglassicon'><i class="fa fa-hourglass-half" aria-hidden="true"></i></span></td>
						        <td class="col-md-2 col-sm-2">{{y.frequency}}</td>
						        <td class="col-md-2 col-sm-2">{{y.periodStartdate}}</td>
						        <td class="col-md-2 col-sm-2">10/11/2016</td>
						        <td class="col-md-2 col-sm-2">{{0.0}}</td>
						        <td class="col-md-2 col-sm-2"><button class="buttonclass" data-toggle="modal" data-target="#myModal" ng-hide="viewField" ng-click="modify(y)"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></button><button class="buttonclass" ng-hide="viewField" ng-click="deletedata(y)"><span id='closeicon'><i class="fa fa-times" aria-hidden="true"></i></span></button></td>
						    </tr>
	    				</tbody>
  					</table>
  				</div>
  			</div>
  		<div class="row">
	  		<div class="col-md-12 col-sm-12" id='buttondiv'>
	  		<button data-toggle="modal" data-target="#myModal" id='button'><span id='plus'><i class="fa fa-plus" aria-hidden="true"></i></span><span id='add'>Add</span></button>
	  		</div>
  		</div>
  		</div>
		<firstmodel></firstmodel>
  		<secondmodel></secondmodel>
	</form>
	</div>
</body>
</html>