.material-icons.orange600 { color:white; }
.material-icons.md-48 { font-size: 30px; }
input[type="text"]{
	background-color: #e5e5e5;
	border: solid;
	border-radius: 10px; /*-------radius of curve ness of border---------*/
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;  /*-------font style-----*/
	font-size: 14px;
	height: 40px; /*--height of box--*/
	padding: 10px 10px;
	/*margin : 10px;*/
	width: 600px;  /*-----width of box-----*/
}