	<div>
	<mydirective></mydirective>
	<div class="row" id="photos">
		<div class="col-md-offset-2 col-md-3 col-sm-2 col-lg-4">
		<button  style="background-color:transparent;border:none;height:230px;width:265px;" ng-click="firstimage1()"><img style="height:230px;width:265px;" id="myimage1" src="images/15.jpg"></button></div>
		<div class="col-md-3">
		<button style="background-color:transparent;border:none;" ng-click="secondimage2()"><img id="myimage2" src="images/16.jpg"></button>
		</div>
		<div class="col-md-3">
		<button style="background-color:transparent;border:none;" ng-click="thirdimage3()"><img id="myimage3" src="images/19.jpg"></button>
		</div>
	</div>
	</div>