<!DOCTYPE html>
<html ng-app='dragApp'>
<head>
	<title>drag and drop</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/drag.js"></script>
    <link href="css/custom.css" rel="stylesheet" />
    
</head>
<body>
<div id="main" ng-controller='MainController'>
	   <div id="items">
            <div style="border-bottom: 2px solid black">
                <b>Items</b> <button ng-click="showItmesLeft()">count</button>
            </div>
            <div ng-repeat="item in items">
                <div draggable="true" class="item" itemid="{{item.id}}">{{item.id}}. {{item.name}}</div>
            </div>
        </div>
        <div id="dropbox" droptarget="true">
            <div style="border-bottom: 2px solid black">
                <b>Dropbox</b> <button ng-click="showItmesDropped()">count</button>
            </div>
            <div ng-repeat="item in dropped">
                <div class="item">{{item.id}}. {{item.name}}</div>
            </div>
        </div>
</div>
</body>
</html>