	<div>
	<mydirective></mydirective>
	<div style="text-align:center;font-size:20px;"><strong>Welcome to ToonJuice World</strong></div>
	<div class="row" id="photos" style="margin-top: 20px;">
		<div class="col-md-offset-0 col-md-2">
		<my-side-nav></my-side-nav>
		</div>
		<div class="col-md-3">
		<button style="background-color:transparent;border:none;height:200px;width:160px;margin-left:20px;" ng-click="firstimage1()"><a href="https://en.wikipedia.org/wiki/Walt_Disney"><img style="height:200px;width:160px;" id="myimage1" src="images/24.jpg"></a></button>
		</div>
		<div class="col-md-3" >
		<button style="background-color:transparent;border:none;margin-left:20px;" ng-click="secondimage2()"><a href="https://en.wikipedia.org/wiki/Mickey_Mouse_(TV_series)"><img id="myimage2" style="height:200px;width:160px;" src="images/16.jpg"></a></button>
		</div>
		<div class="col-md-3">
		<button style="background-color:transparent;border:none;margin-left:20px;" ng-click="thirdimage3()"><a href="https://en.wikipedia.org/wiki/Donald_Duck"><img id="myimage3" style="height:200px;width:170px;" src="images/19.jpg"></a></button>
		</div>
	</div>
	</div>