<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/font-awesome-4.7.0/font-awesome-4.7.0/css/							font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<style type="text/css">
			@import url("../css/custom.css");
	</style>
	<script src="../js/backend.js"></script>
</head>
<body class="bodycolor" ng-controller="myCntrl">
<div style="height:450px;width:650px;border:1px solid #40CFFF;margin-left:150px;margin-top:100px;">
	<div class="row" style="margin-top:40px;">
		<div class="col-md-offset-2 col-md-5" >
			<input class="names" type="text" placeholder="Enter First Name" ng-model="obj.firstname">
		</div>
		<div class="col-md-5">
			<input class="names" type="text" placeholder="Enter Last Name" ng-model="obj.lastname">
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-offset-2 col-md-5">
			<input class="email" type="email" placeholder="Enter Email id" ng-model="obj.emailid">
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-offset-2 col-md-5">
			<input class="passwords" type="password" placeholder="Enter Password" ng-model="obj.password">
		</div>
		<div class="col-md-5">
			<input class="passwords" type="password" placeholder="Re-type Password" ng-model="obj.retypepassword">
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-offset-2 col-md-5">
			<input class="email" type="text" placeholder="Enter Mobile Number" ng-model="obj.mobilenumber">
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-offset-2 col-md-5">
			<input class="email" type="text" placeholder="Enter Skype Id" ng-model="obj.skypeid">
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-offset-4 col-md-3">
			<button class="Button" ng-click="send()">SUBMIT</button>
		</div>
	</div>
</div>
</body>
</html>